.MainPageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    height: 100%;
}

.itemList{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 10px;
}