.itemContainer{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.picturePlaceHolder{
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    background-color: pink;
    padding: 20px;
}

.button{
    background-color: #3366ff;
    border: 0;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    min-width: 50px;
    transition: transform 0.1s ease-in-out;
}

.button:active{
    transform: scale(1.2);
}

.itemInfo{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    width: 100%;
}

.priceButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 20px 20px 20px;
    gap: 20px
}