.navBarContainer {
    height: 30px;
    background: #dddddd;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #b9b5b5;
}

.appLogo {
    padding: 0;
    margin: 0;
    height: 100%;
}

.searchButton{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: transform 0.1s ease-in-out;
}

.searchButton:active{
    transform: scale(1.5);
}

.searchButtonIcon{
    width: 30px;
    height: 30px;
}

.spacer{
    flex-grow: 2;
}

.searchBarContainer{
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 10px 20px
}

.searchBar{
    border: 0;
    padding: 0;
    height: 30px;
    border-radius: 5px;
}

.searchBarExpanded{
    transition: width 0.5s ease-in-out;
    width: 100%;
}

.searchBarClosed{
    transition: width 0.5s ease-in-out;
    width: 0;
}