.popUpContainer{
  margin-top: 40px;
}

.form {
    text-align: right;
  }
  
.form button {
    font: inherit;
    cursor: pointer;
    background-color: #3366ff;
    border: 1px solid #3366ff;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
 }
  
.form button:hover,
.form button:active {
    background-color: #3343ff;
    border-color: #3343ff;
  }

.form .sellButton{
  margin: 1rem 0 0.5rem 0; 
}  

.form .imageViewer{
  height : 200px;
  width:200px
}