.sideBarContainer{
    height: 100%;
    width: 15%;
    background-color: #dddd;
    border-right:1px solid #b9b5b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
}

.sideBarTextItem {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.sideBarTop {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.filteringOption {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceFilteringInputsContainer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.priceFilteringInputItem {
    width: 80px;
    margin: 5px;
    border: 0;
    border-radius: 5px;
}

.divider{
    width: 100%;
}

.searchButton {
    margin: 20px 0 0 0;
}

.button{
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #3366ff;
    transition: transform 0.05s ease-in-out;
    width:100%
}

.button:active{
    transform: scale(1.2);
}

.dropDown{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 0;
}