.select {
    display: flex;
    flex-direction:column;
    align-items: start;
    margin-bottom: 0.5rem;
  }
  
  .select label {
    margin-right: 1rem;
  }
  
  .select select {
      min-width:200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }
  