.textarea {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0.5rem;
}

.textarea label {
  margin-right: 1rem;
}

.textarea input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
